.venv
__pycache__/
node_modules/
dist/
.DS_Store
.vscode/
.claude/
.env
.env.local
*.mp3
*.mp4
*.csv
*.json
*.png
*.log
experimental/spi/note_assistant_v2/backend/client_secret.json
experimental/spi/note_assistant_v2/backend/token.json
experimental/spi/note_assistant_v2/frontend/.env.local
experimental/spi/note_assistant_v2/frontend/package-lock.json
experimental/spi/note_assistant_v2/frontend/package-lock.json
experimental/cameron/backend/.env
experimental/cameron/backend/venv
experimental/cameron/frontend_v2/venv
experimental/cameron/frontend_v3/venv
experimental/spi/note_assistant_v2/backend/meetings.db
