.venv
__pycache__/
node_modules/
node_modules
dist/
.DS_Store
.vscode/
.claude/
.env
.env.bak.*
.env.local
*.mp3
*.mp4
*.csv
*.log
experimental/spi/note_assistant_v2/backend/client_secret.json
experimental/spi/note_assistant_v2/backend/token.json
experimental/spi/note_assistant_v2/frontend/.env.local
experimental/spi/note_assistant_v2/frontend/package-lock.json
experimental/spi/note_assistant_v2/frontend/package-lock.json
experimental/cameron/backend/.env
experimental/cameron/backend/venv
experimental/cameron/frontend_v2/venv
experimental/cameron/frontend_v3/venv
KEYBINDINGS/
backend/docker-compose.debug.yml
backend/docker-compose.vexa.yml
backend/docker-compose.override.yml

# Cursor files
*.issue-body-temp.md*
dna.code-workspace
